@use "../styles/gtl";
@import "./gtl";

.AddTodo {
  display: grid;
  align-items: center;
}
.AddTodo__form {
  display: flex;
  position: relative;
  width: 100%;

  .AddTodo__textarea {
    display: flex;
    width: 100%;
    min-height: 4em;
    max-height: 40vh;
    border: 1px solid #ccc;
    padding: calc(gtl.$margin + (gtl.$margin * 0.25));
    margin: 0;
    resize: none;
    border-radius: gtl.$rounded-1;
    box-sizing: border-box;
    text-overflow: ellipsis;
    transition: box-shadow 200ms;

    @include Todo_scrollbar;

    &:focus {
      border: none;
      outline: 2px solid -webkit-focus-ring-color;
      box-shadow: 0px 0px 20px 0px #31313152, inset 0px 0 8px 2px #ffffffb2,
        inset 0px 0 7px 3px rgba(102, 108, 112, 0.274);
    }
    &:active {
      border: 1px solid -webkit-focus-ring-color;
    }
  }
  .AddTodo__icon {
    @include button($type: "add");
    border-radius: 8px;
    user-select: none;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: gtl.$margin;
    height: fit-content;
    padding: 4px 6px;

    p {
      font-weight: 200;
      font-size: 27px;
    }
  }
}

@media screen and (max-width: $screenMaxWidth__xs) {
}
