.TodoItems {
  height: fit-content;
  padding: 0;
  margin: 0;
  align-items: center;
  grid-column: 1 / 3;

  &__child {
    display: flex;
    max-width: clamp(300px, 600px, 80vw);
    margin: 0 auto;
  }
  &__grid {
    display: grid;
    gap: 1rem;
  }
  &__flex {
    display: block; // Masonry Layout
    columns: 180px;
  }
}
.notFound {
  display: flex;
  width: 100%;
  align-items: center;
  h2 {
    margin: 0 auto;
    text-align: center;
    color: #effbff;
    text-shadow: 0 0 10px #0c0d0e;
  }
}
