@use "./_gtl";
@import "./_gtl";

.TodoList {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 2em auto;
  height: clamp(300px, 500px, 80vh);
  width: clamp(300px, 800px, 80vw);
  padding: gtl.$margin;
  border-radius: gtl.$rounded-1;
  box-sizing: border-box;
  overflow: hidden auto;

  &__picture {
    position: sticky;
    top: 0;
    height: 0;
    overflow: visible;

    &::before {
      content: "";
      position: absolute;
      display: flex;
      top: 0;
      left: 0;
      right: 0;
      background: #585858;
      margin: calc(gtl.$margin * -1);
      height: 400px;
      width: 400px;
      box-sizing: border-box;
      height: clamp(300px, 500px, 80vh);
      width: inherit;

      @include background-image(
        "https://images.unsplash.com/photo-1528287942171-fbe365d1d9ac?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&w=1200&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
      );
    }
  }

  // esto puede servir
  // https://stackoverflow.com/questions/54771091/is-there-a-way-to-make-a-solid-div-with-3-transparent-boxes-in-it

  // &__background__ > ...
  &__header {
    display: grid;
    position: relative;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    gap: gtl.$margin;
    row-gap: gtl.$margin;

    &::before {
      content: "";
      inset: calc(gtl.$margin * -1);
      padding-right: calc(gtl.$margin * 2);
      z-index: 0;
      height: calc(100% + (gtl.$margin * 2));
      width: 100%;
      position: absolute;
      background: #c4a57a2f;
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      box-shadow: 0px 1px 8px 0px #74634bcb;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 2fr;
    position: relative;
    border-radius: gtl.$rounded-1;
    margin-top: calc(gtl.$margin * 1.5);
    row-gap: gtl.$margin;
    padding-bottom: gtl.$margin;
  }

  .sizeIndicator {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 2em;
    width: 100%;
    color: white;
  }

  @include Todo_scrollbar;
}

@media screen and (max-width: $screenMaxWidth__xs) {
  .TodoList {
    width: 100%;

    &__picture {
      position: sticky;
      top: 0;
      height: 0;
      overflow: visible;

      &::before {
        background-size: cover;
      }
    }
    &__header {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
}
