@use "./gtl";
@import "./gtl";

.TodoSearch {
  display: grid;
  height: 3em;
  padding: 0;
  margin-left: gtl.$margin;
  align-items: center;
  position: relative;
  box-sizing: border-box;

  &__searchBar {
    width: 100%;
    &__input {
      height: 3em;
      // max-width: calc(var(--maxWidth, 300px) - (gtl.$margin * 2));
      // max-width: var(--maxWidth, 50px);
      min-width: 100px;
      width: 100%;
      padding: 0 calc(gtl.$margin + (gtl.$margin * 0.5));
      margin: 0;
      display: inline-block;
      border: none;
      border-radius: gtl.$rounded-1;
      white-space: nowrap;
      outline: 1px solid #646464;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow-x: hidden;
      transition: box-shadow 200ms, width 120ms;

      &:focus {
        border: none;
        outline: 2px solid -webkit-focus-ring-color;
        box-shadow: 0px 0px 10px 4px #31313152, inset 0px 0 8px 2px #ffffffb2,
          inset 0px 0 8px 0px #666c70de;
          
      }
      &:active {
        border: 1px solid -webkit-focus-ring-color;
      }
    }
  }

  &__span {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 0;
  }
}

@media screen and (max-width: $screenMaxWidth__xs) {
  .TodoSearch {
    justify-content: stretch;
    width: 100%;
    margin: 0;
    grid-row: 2 / 3;

    &__searchBar {
      width: 100%;

      &__input {
        min-width: 100%;
        width: 100%;
      }
    }
  }
}
