@use "./gtl";
@import "./gtl";

.TodoItem {
  display: grid;
  justify-self: center;
  padding: 5px;
  border-radius: 8px;
  background: #8ed0e8;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid #545454;
  transition: width 100ms;	break-inside: avoid;
  width: clamp(200px, 510px, 80vw); //maxWidth in relation to the window size

  &__flex {
    width: auto;
    width: -webkit-fill-available;
    margin-bottom: gtl.$margin;
    gap: gtl.$margin;
  }
  &__grid {
    grid-template-columns: auto 1fr auto;
    gap: gtl.$margin;
    grid-template-rows: auto;
  }

  p.pharagraph {
    // text
    display: grid;
    place-self: baseline;
    overflow-x: hidden;
  }

  &__checkbox {
    &--completed {
      color: rgb(61, 167, 61);
    }
    &--uncompleted {
      color: rgb(24, 105, 123);
    }
  }

  .deleteTask {
    @include button($type: delete);
  }
}

.emptyItems {
  background: linear-gradient(
    90deg,
    #98d1e6 25%,
    #a1ddf3 50%,
    #98d1e6 75%
  ); // Adds a gradient for skeleton loading
  background-size: 400px 100%; // Ensures smooth animation
  animation: skeleton-loading 1.5s infinite linear;
  border-radius: 4px; // Optional: for rounded corners

  & > * {
    display: flex;
    z-index: -1;
  }

  @keyframes skeleton-loading {
    0% {
      background-position: -200px 0;
    }
    100% {
      background-position: 200px 0;
    }
  }

  &__flex {
    width: auto;
    width: -webkit-fill-available;
    margin-bottom: gtl.$margin;
    gap: gtl.$margin;
  }
  &__grid {
    grid-template-columns: auto 1fr auto;
    gap: gtl.$margin;
    grid-template-rows: auto;
  }

  p.pharagraph {
    // text
    display: grid;
    place-self: baseline;
    overflow-x: hidden;
  }
}

@media screen and (max-width: $screenMaxWidth__xs) {
  .TodoItem {
    width: 100%;
  }
}
