@use "./gtl";
@import "./gtl";

.TodoItems {
  height: fit-content;
  padding: 0;
  margin: 0;
  align-items: center;
  grid-column: 1 / 3;
  max-width: clamp(300px, 600px, 70vw);
  margin: 0 auto;

  &__grid {
    gap: calc(gtl.$margin / 2);
    display: grid;
  }
  &__flex {
    // display: block; // Masonry Layout
    // gap: gtl.$margin;
    // columns: clamp(125px, 144px, 320px);
    columns: 180px;
    flex-wrap: wrap;
    gap: gtl.$margin;
  }
}
.notFound {
  display: flex;
  width: 100%;
  align-items: center;
  h2 {
    margin: 0 auto;
    text-align: center;
    color: #effbff;
    text-shadow: 0 0 10px #0c0d0e;
  }
}


@media screen and (max-width: $screenMaxWidth__md){
  .TodoItems {
    &__flex {
      columns: 160px;
    }
  }
}

@media screen and (max-width: $screenMaxWidth__xs) {
  .TodoItems {

    &__flex {
      columns: 120px;
    }
  }
}

@media screen and (max-width: $screenMaxWidth__sm){
  .TodoItems {
    &__flex {
      columns: 132px;
    }
  }
}