$body_background: src(
  "https://imgmedia.larepublica.pe/640x371/larepublica/original/2023/01/30/63d82b8dfbf2ae006c55bb54.webp"
);

%body-background {
  background: radial-gradient(
      rgba(69, 63, 184, 0.4) 0%,
      rgba(9, 9, 121, 0.5) 5%,
      rgba(23, 214, 252, 0.4) 70%,
      rgba(14, 14, 179, 0.4)
    ),
    url("https://imgmedia.larepublica.pe/640x371/larepublica/original/2023/01/30/63d82b8dfbf2ae006c55bb54.webp"); /* La imagen se mantiene como segunda capa */

  background-position: 257% 743px, center;
  background-size: 166% 394%, 100vw 100vh;
  background-repeat: repeat, no-repeat;
  background-attachment: fixed;
}
